*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#ground{
    width: 100%;
    height: 100px;
    position: absolute;
    background-color: green;
    bottom: 0%;
}

#charecter{
    width: 6rem;
    height: 8rem;
    position: absolute;
    bottom: 100px;
    right: calc(100% - 100px);
}

.obstacle{
    width: 30px;
    height: 100px;
    background-color: black;
    position: absolute;
    right: 0;
    bottom: 100px;
    
}

#score{
    font-size: 2rem;
    color: red;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
}